<section id="about">
    <h2 style="font-family: Anton, sans-serif;text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7)" class="text-center md:text-[50px] text-4xl text-white">DIVENTA MARADONA PER UN GIORNO</h2>
    <article class="mt-12 md:px-24"> 
        <div>
            <img src="/actividad-el-tunel.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Il tunnel, il benvenuto di Diego</p>
        </div>
        <div>
            <img src="/actividad-conoce-la-historia.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Scopri la storia di Diego</p>
        </div>
        <div>
            <img src="/actividad-historia-en-exhib.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">La leggenda si racconta</p>
        </div>
        <div>
            <img src="/actividad-espectaculo-inmersivo.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Spettacolo immersivo</p>
        </div>
        <div>
            <img src="/actividad-juga-con-diego.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Gioca con Diego, <br> gioca come Diego, sii Diego</p>
        </div>
        <div>
            <img src="/actividad-el-objetivo.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Il goal del secolo</p>
        </div>
    </article>
</section>

<style>
    #about article{
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(360px, 1fr)
        );
        gap: 8px;
    }
</style>