<section
  class="relative bg-cover bg-no-repeat p-8 bg-blend-saturation mt-[100px] bg-opacity-90 bg-black border shadow-2xl"
  id="about"
>
  <h3
    class="text-center md:text-[50px] text-2xl text-white font-[600] tracking-widest uppercase"
    style={{ textShadow: "2px 2px 4px rgba(0, 0, 0, 0.5)" }}
  >
    Veni y convertite en Maradona por un día
  </h3>
  <section class="relative gap-5 flex flex-wrap justify-center mt-12 z-50">
    <div
      style={{
        backgroundImage: "url(/foto-tunel.png)",
      }}
      class="bg-cover bg-no-repeat w-[400px] border-[3px] h-[500px] relative cursor-pointer rounded-b-2xl transition-all duration-300 hover:border-blue-500"
      id="container-card-tunel"
    >
      <div
        class="flex absolute bottom-0 items-center justify-between p-3 bg-black w-full rounded-b-2xl transition-all duration-300 hover:opacity-90"
        id="container-tunel"
      >
        <p
          class="uppercase text-white font-bold md:text-xl w-[300px]"
          id="tunel-titulo"
        >
          EL TÚNEL, LA BIENVENIDA <br /> DE DIEGO
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up text-white border rounded-full p-2 transition-all duration-200 hover:scale-75"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M16 9l-4 -4"></path>
          <path d="M8 9l4 -4"></path>
        </svg>
        <span class="hidden text-white leading-8 font-[600]" id="texto-tunel">
          Pasas por un largo túnel de impresionantes imágenes, proyectadas en
          alta definición. fuerza evocadora e impacto visual, que llevará al
          público a conocer a Diego en persona. Gracias a una reconstrucción
          holográfica, creada con la ayuda de inteligencia artificial, será el
          joven DIEGO quien dará la bienvenida al público.
        </span>
      </div>
    </div>
    <div
      style={{
        backgroundImage: "url(/foto-casa.png)",
      }}
      class="bg-cover bg-no-repeat w-[400px] h-[500px] border-[3px] relative cursor-pointer rounded-b-2xl transition-all duration-300 hover:border-blue-500"
      id="container-card-casa"
    >
      <div
        class="flex absolute bottom-0 items-center justify-between p-3 bg-black w-full rounded-b-2xl transition-all duration-300 hover:opacity-90"
        id="container-casa"
      >
        <p
          class="uppercase text-white font-bold md:text-xl w-[300px]"
          id="casa-titulo"
        >
          Conoce la historia <br /> del diego
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up text-white border rounded-full p-2 transition-all duration-200 hover:scale-75"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M16 9l-4 -4"></path>
          <path d="M8 9l4 -4"></path>
        </svg>
        <span class="hidden text-white leading-8 font-[600]" id="texto-casa">
          La reconstrucción escenográfica de la casa de la infancia de DIEGO. Al
          entrar se percibe el conmovedor valor simbólico que adquiere la
          memoria del lugar. Un viejo televisor en blanco y negro emite las
          imágenes de la primera entrevista a aquel chico que, poco después,
          haría soñar al mundo. Un niño del barrio pobre de Villa Fiorito que,
          más que nada, quería cumplir su sueño de convertirse en el mejor
          jugador de la historia del fútbol.
        </span>
      </div>
    </div>
    <div
      style={{
        backgroundImage: "url(/foto-museo.png)",
      }}
      class="bg-cover bg-no-repeat w-[400px] h-[500px] border-[3px] relative cursor-pointer rounded-b-2xl transition-all duration-300 hover:border-blue-500"
      id="container-card-museo"
    >
      <div
        class="flex absolute bottom-0 items-center justify-between p-3 bg-black w-full rounded-b-2xl transition-all duration-300 hover:opacity-90"
        id="container-museo"
      >
        <p
          class="uppercase text-white font-bold md:text-xl w-[300px]"
          id="museo-titulo"
        >
          HISTORIA EN <br /> EXHIBICIÓN
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up text-white border rounded-full p-2 transition-all duration-200 hover:scale-75"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M16 9l-4 -4"></path>
          <path d="M8 9l4 -4"></path>
        </svg>
        <span class="hidden text-white leading-8 font-[600]" id="texto-museo">
          Dos salas dedicadas a la exposición de recuerdos, equipadas con
          ampliaciones del campeón y paneles infográficos que cuentan su
          biografía. Aquí, como en una exposición tradicional, se exponen
          reproducciones de objetos que representan la trayectoria deportiva de
          DIEGO y las camisetas de los equipos en los que jugó.
        </span>
      </div>
    </div>
    <div
      style={{
        backgroundImage: "url(/foto-inmersiva.png)",
      }}
      class="bg-cover bg-no-repeat w-[400px] h-[500px] border-[3px] relative cursor-pointer rounded-b-2xl transition-all duration-300 hover:border-blue-500"
      id="container-card-inmersiva"
    >
      <div
        class="flex absolute bottom-0 items-center justify-between p-3 bg-black w-full rounded-b-2xl transition-all duration-300 hover:opacity-90"
        id="container-inmersiva"
      >
        <p
          class="uppercase text-white font-bold md:text-xl w-[300px]"
          id="inmersiva-titulo"
        >
          EL ESPECTÁCULO <br /> INMERSIVO
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up text-white border rounded-full p-2 transition-all duration-200 hover:scale-75"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M16 9l-4 -4"></path>
          <path d="M8 9l4 -4"></path>
        </svg>
        <span
          class="hidden text-white leading-8 font-[600]"
          id="texto-inmersiva"
        >
          La sala más grande del PARQUE, con más de 400 m2 de superficie y 8 m
          de altura, acoge el espectáculo inmersivo creado por ART MEDIA STUDIO.
          20 minutos de maravilla multisensorial para disfrutar de la primera
          obra de videoarte inmersivo del mundo dedicada a EL DIEZ, una obra que
          reúne todos los momentos destacados de la vida y carrera de Diego
          Armando Maradona. Un estadio virtual, reconstruido con animaciones 3D,
          acoge y envuelve al público, convirtiéndose en el espectacular
          contenedor de las hazañas del Pibe de Oro. Imágenes famosas se
          alternan con otras, menos conocidas, encontradas gracias a una
          paciente investigación en archivos de coleccionistas y presentadas
          aquí en exclusiva.
        </span>
      </div>
    </div>
    <div
      style={{
        backgroundImage: "url(/foto-penal.png)",
      }}
      class="bg-cover bg-no-repeat w-[400px] h-[500px] border-[3px] relative cursor-pointer rounded-b-2xl transition-all duration-300 hover:border-blue-500"
      id="container-card-penal"
    >
      <div
        class="flex absolute bottom-0 items-center justify-between p-3 bg-black w-full rounded-b-2xl transition-all duration-300 hover:opacity-90"
        id="container-penal"
      >
        <p
          class="uppercase text-white font-bold md:text-xl w-[300px]"
          id="penal-titulo"
        >
          JUEGA CON DIEGO, JUEGA <br /> COMO DIEGO, SÉ DIEGO
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up text-white border rounded-full p-2 transition-all duration-200 hover:scale-75"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M16 9l-4 -4"></path>
          <path d="M8 9l4 -4"></path>
        </svg>
        <span class="hidden text-white leading-8 font-[600]" id="texto-penal">
          El área ofrece tres instalaciones de juego interactivo diseñadas y
          creadas exclusivamente para DIEGO VIVE, para la formación y
          entretenimiento de niños y adultos.
        </span>
      </div>
    </div>
    <div
      style={{
        backgroundImage: "url(/foto-vr.png)",
      }}
      class="bg-cover bg-no-repeat w-[400px] h-[500px] border-[3px] relative cursor-pointer rounded-b-2xl transition-all duration-300 hover:border-blue-500"
      id="container-card-vr"
    >
      <div
        class="flex absolute bottom-0 items-center justify-between p-3 bg-black w-full rounded-b-2xl transition-all duration-300 hover:opacity-90"
        id="container-vr"
      >
        <p
          class="uppercase text-white font-bold md:text-xl w-[300px]"
          id="vr-titulo"
        >
          EL OBJETIVO DEL <br /> SIGLO, EXPERIENCIA VR NB
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-up text-white border rounded-full p-2 transition-all duration-200 hover:scale-75"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M16 9l-4 -4"></path>
          <path d="M8 9l4 -4"></path>
        </svg>
        <span class="hidden text-white leading-8 font-[600]" id="texto-vr">
          Estaciones especialmente habilitadas ofrecen a los visitantes la
          oportunidad de convertirse en parte integral de uno de los momentos
          más famosos y emocionantes de la carrera deportiva de Diego Armando
          Maradona: el gol contra los ingleses.
        </span>
      </div>
    </div>
  </section>
</section>

<style>
  @keyframes subir {
    0% {
      height: 10%;
    }
    10% {
      height: 20%;
    }
    30% {
      height: 40%;
    }
    40% {
      height: 50%;
    }
    60% {
      height: 70%;
    }
    70% {
      height: 80%;
    }
    80% {
      height: 90%;
    }
    100% {
      height: 100%;
    }
  }

  .up {
    animation: subir 0.5s linear;
  }
</style>

<script>
  // Titulos actividades
  const tituloTunel = document.getElementById("tunel-titulo");
  const tituloCasa = document.getElementById("casa-titulo");
  const tituloMuseo = document.getElementById("museo-titulo");
  const tituloInmersiva = document.getElementById("inmersiva-titulo");
  const tituloPenal = document.getElementById("penal-titulo");
  const tituloVr = document.getElementById("vr-titulo");

  // Textos actividades
  const textoTunel = document.getElementById("texto-tunel");
  const textoCasa = document.getElementById("texto-casa");
  const textoMuseo = document.getElementById("texto-museo");
  const textoInmersiva = document.getElementById("texto-inmersiva");
  const textoPenal = document.getElementById("texto-penal");
  const textoVr = document.getElementById("texto-vr");

  // Cambio de idioma
  const select = document.getElementById("paises") as HTMLSelectElement;
  select.addEventListener("change", () => {
    if (select.value === "NAPOLES, ITALIA") {
      // TITULOS
      tituloTunel.innerHTML = `IL TUNNEL, IL BENVENUTO <br /> DI DIEGO`;
      tituloCasa.innerHTML = `LA CASA DI DIEGÛITO <br /> “EL PELUSA”`;
      tituloMuseo.innerHTML = `LA STORIA IN <br /> MOSTRA`;
      tituloInmersiva.innerHTML = `LO SHOW <br /> IMMERSIVO`;
      tituloPenal.innerHTML = `GIOCARE CON DIEGO, GIOCARE <br /> COME DIEGO, ESSERE DIEGO`;
      tituloVr.innerHTML = `IL GOAL DEL SECOLO, VR <br /> EXPERIENCE NB`;

      // TEXTOS
      textoTunel.textContent =
        "Si attraversa un lungo tunnel di immagini, proiettate ad alta definizione, di impressionante forza evocativa e impatto visivo, che porterà il pubblico ad incontrare Diego in persona. Grazie a una ricostruzione olografica, realizzata con l’ausilio dell’intelligenza artificiale, sarà proprio il giovane DIEGO ad accogliere il pubblico.";
      textoCasa.textContent =
        "La ricostruzione scenografica della casa d’infanzia di DIEGO. Entrando si percepisce il commovente valore simbolico che assume il ricordo del luogo. Una vecchia televisione in bianco e nero trasmette le immagini della prima intervista a quel ragazzino che, di lì a poco, avrebbe fatto sognare il mondo. Un bambino del quartiere povero di Villa Fiorito che più di ogni altra cosa voleva coronare il sogno di diventare il più grande giocatore della storia del calcio.";
      textoMuseo.textContent =
        "Due sale dedicate all’esposizione dei memorabilia, allestite con gigantografie del campione e pannelli di infografica in cui si racconta la sua biografia. Qui, come in una mostra tradizionale, sono esposte riproduzioni di oggetti rappresentativi la carriera sportiva di DIEGO e le maglie delle squadre in cui ha militato.";
      textoInmersiva.textContent =
        "La sala più grande del PARCO, oltre 400 mq di superficie e 8 mt di altezza, ospita lo show immersivo realizzato da ART MEDIA STUDIO. 20 minuti di meraviglia multisensoriale per godere della prima opera di videoarte immersiva al mondo dedicata a EL DIEZ, un’opera che raccoglie in sé tutti i momenti salienti della vita e della carriera di Diego Armando Maradona. Uno stadio virtuale, ricostruito con animazioni 3D, accoglie e avvolge il pubblico divenendo il contenitore spettacolare delle imprese del Pibe de Oro. Immagini celebri si alternano ad altre, meno conosciute, ritrovate grazie a un paziente lavoro di ricerca negli archivi dei collezionisti e qui presentate in esclusiva.";
      textoPenal.textContent =
        "L ́area propone tre installazioni di gaming interattivo progettate e realizzate in esclusiva per DIEGO VIVE, per il training e il divertimento di ragazzi e adulti.";
      textoVr.textContent =
        "Delle postazione specificatamente allestiste, offrono ai visitatori la possibilità di divenire parte integrante di uno dei momenti più celebri ed esaltanti della carriera sportiva di Diego Armando Maradona: il gol agli inglesi";
    } else {
      // TITULOS
      tituloTunel.innerHTML = `EL TÚNEL, LA BIENVENIDA <br /> DE DIEGO`;
      tituloCasa.innerHTML = `Conoce la historia <br /> del diego`;
      tituloMuseo.innerHTML = `HISTORIA EN <br /> EXHIBICIÓN`;
      tituloInmersiva.innerHTML = `EL ESPECTÁCULO <br /> INMERSIVO`;
      tituloPenal.innerHTML = `JUEGA CON DIEGO, JUEGA <br /> COMO DIEGO, SÉ DIEGO`;
      tituloVr.innerHTML = `EL OBJETIVO DEL <br /> SIGLO, EXPERIENCIA VR NB`;

      // TEXTOS
      textoTunel.textContent =
        "Pasas por un largo túnel de impresionantes imágenes, proyectadas en alta definición. fuerza evocadora e impacto visual, que llevará al público a conocer a Diego en persona. Gracias a una reconstrucción holográfica, creada con la ayuda de inteligencia artificial, será el joven DIEGO quien dará la bienvenida al público.";
      textoCasa.textContent =
        "La reconstrucción escenográfica de la casa de la infancia de DIEGO. Al entrar se percibe el conmovedor valor simbólico que adquiere la memoria del lugar. Un viejo televisor en blanco y negro emite las imágenes de la primera entrevista a aquel chico que, poco después, haría soñar al mundo. Un niño del barrio pobre de Villa Fiorito que, más que nada, quería cumplir su sueño de convertirse en el mejor jugador de la historia del fútbol.";
      textoMuseo.textContent =
        "Dos salas dedicadas a la exposición de recuerdos, equipadas con ampliaciones del campeón y paneles infográficos que cuentan su biografía. Aquí, como en una exposición tradicional, se exponen reproducciones de objetos que representan la trayectoria deportiva de DIEGO y las camisetas de los equipos en los que jugó.";
      textoInmersiva.textContent =
        "La sala más grande del PARQUE, con más de 400 m2 de superficie y 8 m de altura, acoge el espectáculo inmersivo creado por ART MEDIA STUDIO. 20 minutos de maravilla multisensorial para disfrutar de la primera obra de videoarte inmersivo del mundo dedicada a EL DIEZ, una obra que reúne todos los momentos destacados de la vida y carrera de Diego Armando Maradona. Un estadio virtual, reconstruido con animaciones 3D, acoge y envuelve al público, convirtiéndose en el espectacular contenedor de las hazañas del Pibe de Oro. Imágenes famosas se alternan con otras, menos conocidas, encontradas gracias a una paciente investigación en archivos de coleccionistas y presentadas aquí en exclusiva.";
      textoPenal.textContent =
        "El área ofrece tres instalaciones de juego interactivo diseñadas y creadas exclusivamente para DIEGO VIVE, para la formación y entretenimiento de niños y adultos.";
      textoVr.textContent =
        "Estaciones especialmente habilitadas ofrecen a los visitantes la oportunidad de convertirse en parte integral de uno de los momentos más famosos y emocionantes de la carrera deportiva de Diego Armando Maradona: el gol contra los ingleses.";
    }
  });
  //   -----------------

  // Animación de la card

  // Tunel
  let boolTunel = false;
  const containerCardTunel = document.getElementById("container-card-tunel");
  const containerTunel = document.getElementById("container-tunel");
  containerCardTunel.addEventListener("click", () => {
    containerTunel.classList.toggle("up");
    containerTunel.querySelector("p").classList.toggle("hidden");
    containerTunel.querySelector("svg").classList.toggle("hidden");
    containerTunel.classList.toggle("h-full");
    if (boolTunel) {
      containerTunel.querySelector("span").classList.toggle("hidden");
      boolTunel = false;
    } else {
      setTimeout(() => {
        containerTunel.querySelector("span").classList.toggle("hidden");
      }, 500);
      boolTunel = true;
    }
  });
  // ----

  // Casa
  let boolCasa = false;
  const containerCardCasa = document.getElementById("container-card-casa");
  const containerCasa = document.getElementById("container-casa");
  containerCardCasa.addEventListener("click", () => {
    containerCasa.classList.toggle("up");
    containerCasa.querySelector("p").classList.toggle("hidden");
    containerCasa.querySelector("svg").classList.toggle("hidden");
    containerCasa.classList.toggle("h-full");
    if (boolCasa) {
      containerCasa.querySelector("span").classList.toggle("hidden");
      boolCasa = false;
    } else {
      setTimeout(() => {
        containerCasa.querySelector("span").classList.toggle("hidden");
      }, 500);
      boolCasa = true;
    }
  });
  // ----

  // Museo
  let boolMuseo = false;
  const containerCardMuseo = document.getElementById("container-card-museo");
  const containerMuseo = document.getElementById("container-museo");
  containerCardMuseo.addEventListener("click", () => {
    containerMuseo.classList.toggle("up");
    containerMuseo.querySelector("p").classList.toggle("hidden");
    containerMuseo.querySelector("svg").classList.toggle("hidden");
    containerMuseo.classList.toggle("h-full");
    if (boolMuseo) {
      containerMuseo.querySelector("span").classList.toggle("hidden");
      boolMuseo = false;
    } else {
      setTimeout(() => {
        containerMuseo.querySelector("span").classList.toggle("hidden");
      }, 500);
      boolMuseo = true;
    }
  });
  // -----

  // Inmersiva
  let boolInmersiva = false;
  const containerCardInmersiva = document.getElementById(
    "container-card-inmersiva"
  );
  const containerInmersiva = document.getElementById("container-inmersiva");
  containerCardInmersiva.addEventListener("click", () => {
    containerInmersiva.classList.toggle("up");
    containerInmersiva.querySelector("p").classList.toggle("hidden");
    containerInmersiva.querySelector("svg").classList.toggle("hidden");
    containerInmersiva.classList.toggle("h-full");
    if (boolInmersiva) {
      containerInmersiva.querySelector("span").classList.toggle("hidden");
      boolInmersiva = false;
    } else {
      setTimeout(() => {
        containerInmersiva.querySelector("span").classList.toggle("hidden");
      }, 500);
      boolInmersiva = true;
    }
  });
  // ---------

  // Penal
  let boolPenal = false;
  const containerCardPenal = document.getElementById("container-card-penal");
  const containerPenal = document.getElementById("container-penal");
  containerCardPenal.addEventListener("click", () => {
    containerPenal.classList.toggle("up");
    containerPenal.querySelector("p").classList.toggle("hidden");
    containerPenal.querySelector("svg").classList.toggle("hidden");
    containerPenal.classList.toggle("h-full");
    if (boolPenal) {
      containerPenal.querySelector("span").classList.toggle("hidden");
      boolPenal = false;
    } else {
      setTimeout(() => {
        containerPenal.querySelector("span").classList.toggle("hidden");
      }, 500);
      boolPenal = true;
    }
  });
  // -----

  // Vr
  let boolVr = false;
  const containerCardVr = document.getElementById("container-card-vr");
  const containerVr = document.getElementById("container-vr");
  containerCardVr.addEventListener("click", () => {
    containerVr.classList.toggle("up");
    containerVr.querySelector("p").classList.toggle("hidden");
    containerVr.querySelector("svg").classList.toggle("hidden");
    containerVr.classList.toggle("h-full");
    if (boolVr) {
      containerVr.querySelector("span").classList.toggle("hidden");
      boolVr = false;
    } else {
      setTimeout(() => {
        containerVr.querySelector("span").classList.toggle("hidden");
      }, 500);
      boolVr = true;
    }
  });
  // --
</script>
