<section>
    <h2 style="font-family: Anton, sans-serif;text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7)" class="text-center md:text-[50px] text-4xl text-white">VENI Y CONVERTITE EN MARADONA POR UN DÍA</h2>
    <article class="flex flex-wrap justify-center gap-8 md:mt-12 mt-5">
        <div>
            <img src="/actividad-el-tunel.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">El tunel, la bienvenidad de diego</p>
        </div>
        <div>
            <img src="/actividad-conoce-la-historia.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Conocé la historia del Diego</p>
        </div>
        <div>
            <img src="/actividad-historia-en-exhib.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Historia en exhibición</p>
        </div>
        <div>
            <img src="/actividad-espectaculo-inmersivo.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Espectaculo inmersivo</p>
        </div>
        <div>
            <img src="/actividad-juga-con-diego.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">Juega con Diego, <br> juega como Diego, se Diego</p>
        </div>
        <div>
            <img src="/actividad-el-objetivo.png" alt="" class="w-[400px]">
            <p class="text-white uppercase text-center font-[700]" style="font-family: Montserrat, sans-serif">El objetivo del siglo, <br> experiencia vr nb</p>
        </div>
    </article>
</section>