---
import Tiktok from "../icons/Tiktok.astro";
import Meta from "../icons/Meta.astro";
import Instagram from "../icons/Instagram.astro";
---

<footer
  style="background-image: url(/fondo-COMUNIQUESE.png);"
  class="bg-cover bg-no-repeat bg-center xl:p-8 relative p-5"
>
  <section
    class="xl:p-12 flex xl:flex-row flex-col justify-center gap-20 xl:px-20"
    id="contacto"
  >
    <div class="mt-auto" id="container-location">
      <p
        class="text-blue-400 text-3xl font-bold mb-20"
        style="font-family: Anton, sans-serif;"
      >
        DAL 15 MAGGIO EX BASE NATO - PARCO SAN LAISE VIALE DELLA LIBERAZIONE 115
        - 80125 NAPOLI
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.366418456424!2d14.160269075591865!3d40.8199146310028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0f5c1bdfc3f9%3A0x51586a8695e5ab42!2sCinema%20all'aperto%20ex-Base%20Nato%20di%20Bagnoli!5e0!3m2!1ses-419!2sar!4v1715881336659!5m2!1ses-419!2sar"
        class="w-full h-[300px] xl:w-[600px] xl:h-[400px] rounded-md"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="w-full">
      <h5
        class="xl:text-[45px] text-3xl text-blue-400 font-[500] uppercase xl:text-left text-center"
        style="font-family: Anton, sans-serif;"
      >
        Contattaci
      </h5>
      <form class="flex flex-col gap-5 mt-12">
        <input
          type="text"
          placeholder="NOME"
          class="p-3 rounded-full bg-white text-black placeholder:text-black"
        />
        <input
          type="text"
          placeholder="TELEFONO"
          class="p-3 rounded-full bg-white text-black placeholder:text-black"
        />
        <input
          type="text"
          placeholder="INDIRIZZO EMAIL"
          class="p-3 rounded-full bg-white text-black placeholder:text-black"
        />
        <textarea
          placeholder="MESSAGGIO"
          class="p-3 rounded-xl text-black bg-white h-[300px] placeholder:text-black"
        ></textarea>
        <button class="btn bg-blue-500 text-white text-xl">Inviare</button>
      </form>
    </div>
  </section>
  <div class="flex justify-center text-blue-300 mt-5">
    <Tiktok />
    <Meta />
    <Instagram />
  </div>
  <div class="mt-12">
    <p class="text-white text-center text-2xl font-[700]">CI ACCOMPAGNANO:</p>
    <div class="flex flex-wrap justify-center gap-3 mt-5">
      <img src="/aireuropa.png" alt="" class="xl:w-[120px] w-[30%]" />
      <img src="/logo-bs.png" alt="" class="xl:w-[120px] w-[30%]" />
      <img src="/logo-afa.png" alt="" class="xl:w-[120px] w-[30%]" />
    </div>
    <p class="text-white font-[600] text-center mt-20">
      Programación: <a
        href="https://www.linkedin.com/in/ignacio-gomez-523b03258/"
        target="_blank"
        class="text-orange-500 transition-all duration-200 hover:text-blue-500"
        >Ignacio Gómez Rodríguez</a
      >
    </p>
  </div>
  <img
    src="/Diego-con-pelota.png"
    alt=""
    class="absolute bottom-0 left-0 w-[350px] xl:block hidden"
  />
  <img
    src="/Diego-calentando.png"
    alt=""
    class="absolute bottom-0 right-0 w-[480px] xl:block hidden"
  />
</footer>
