<footer
  style="background-image: url(/fondo-COMUNIQUESE.png);"
  class="bg-cover bg-no-repeat bg-center md:p-8 relative p-5"
>
  <section
    class="md:p-12 flex md:flex-row flex-col justify-center gap-20 md:px-20"
    id="contacto"
  >
    <div class="mt-auto" id="container-location">
      <p class="text-blue-400 text-3xl font-bold mb-20" style="font-family: Anton, sans-serif;">DAL 15 MAGGIO EX BASE NATO - PARCO SAN LAISE VIALE DELLA LIBERAZIONE 115 - 80125 NAPOLI </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96570.0091258118!2d14.16420105440978!3d40.85403397990413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0866db7afaeb%3A0xd23a43cc658cb87e!2sN%C3%A1poles%2C%20Italia!5e0!3m2!1ses-419!2sar!4v1715796909936!5m2!1ses-419!2sar"
        class="w-full h-[300px] md:w-[600px] md:h-[400px] rounded-md"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="w-full">
      <h5
        class="md:text-[45px] text-3xl text-blue-400 font-[500] uppercase md:text-left text-center"
        style="font-family: Anton, sans-serif;"
      >
        Contattaci
      </h5>
      <form class="flex flex-col gap-5 mt-12">
        <input
          type="text"
          placeholder="NOME"
          class="p-3 rounded-full bg-white text-black placeholder:text-black"
        />
        <input
          type="text"
          placeholder="TELEFONO"
          class="p-3 rounded-full bg-white text-black placeholder:text-black"
        />
        <input
          type="text"
          placeholder="INDIRIZZO EMAIL"
          class="p-3 rounded-full bg-white text-black placeholder:text-black"
        />
        <textarea
          placeholder="MESSAGGIO"
          class="p-3 rounded-xl text-black bg-white h-[300px] placeholder:text-black"
        ></textarea>
        <button class="btn text-white text-xl">Inviare</button>
      </form>
    </div>
  </section>
  <div class="flex justify-center text-blue-300 mt-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
      ></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-meta"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
      ></path><path
        d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
      ></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
      ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path
        d="M16.5 7.5l0 .01"></path></svg
    >
  </div>
  <div class="mt-12">
    <p class="text-white text-center text-2xl font-[700]">CI ACCOMPAGNANO:</p>
    <div class="flex justify-center gap-3 mt-5">
      <img src="/aireuropa.png" alt="" class="md:w-[120px] w-[30%]" />
      <img src="/logo-bs.png" alt="" class="md:w-[120px] w-[30%]" />
      <img src="/logo-afa.png" alt="" class="md:w-[120px] w-[30%]" />
    </div>
    <p class="text-white font-[600] text-center mt-20">
      Programación: <a
        href="https://www.linkedin.com/in/ignacio-gomez-523b03258/"
        target="_blank"
        class="text-blue-500 transition-all duration-200 hover:text-orange-500"
        >Ignacio Gómez Rodríguez</a>
    </p>
  </div>
  <img
    src="/Diego-con-pelota.png"
    alt=""
    class="absolute bottom-0 left-0 w-[350px] md:block hidden"
  />
  <img
    src="/Diego-calentando.png"
    alt=""
    class="absolute bottom-0 right-0 w-[480px] md:block hidden"
  />
</footer>
