<section class="relative md:h-[750px] h-[500px] bg-white hidden md:block">
  <div class="absolute md:ml-[300px] ml-12 md:mt-[120px] mt-20 z-50">
    <h1
      class="md:text-[40px] text-xl font-[600] leading-[1] text-blue-300 md:w-[600px] w-[200px]"
    >
      ¡UN EVENTO PARA DISFRUTAR <span class="font-bold text-blue-500"
        >EN FAMILIA QUE NO</span
      > PUEDEN DEJAR PASAR!
    </h1>
    <div class="mt-12">
      <a
        href="#"
        class="bg-blue-300 md:px-20 py-4 px-3 text-white rounded-2xl mt-12 md:text-3xl font-[500] transition-all duration-300 hover:bg-black hover:text-white"
        id="comprar-emtradas-diego-evento"
        >ADQUIRI TUS ENTRADAS</a
      >
    </div>
  </div>
  <img
    src="/marco-con-diego-.png"
    alt=""
    class="w-[80%] h-full ml-[160px] absolute"
  />
</section>
<section class="py-12 md:hidden p-6">
  <h1
    class="md:text-[50px] text-xl font-[600] text-blue-300 md:w-[600px] text-center"
  >
    ¡UN EVENTO PARA DISFRUTAR <span class="font-bold text-blue-500"
      >EN FAMILIA QUE NO</span
    > PUEDEN DEJAR PASAR!
  </h1>
  <img src="/Diego-3.png" alt="" />
  <div class="flex justify-center">
    <a
      href="#"
      class="bg-blue-300 md:px-20 text-xl py-4 px-20 text-center text-white rounded-2xl mt-12 md:text-3xl font-[500] transition-all duration-300 hover:bg-black hover:text-white"
      >ADQUIRI TUS ENTRADAS</a
    >
  </div>
</section>

<script>
  const buttonComprarEventoDiego = document.getElementById("comprar-emtradas-diego-evento") as HTMLAnchorElement
  const select = document.getElementById("paises") as HTMLSelectElement
  select.addEventListener("change", () => {
    if (select.value === "NAPOLES, ITALIA") {
      buttonComprarEventoDiego.href = "https://go2.it/evento/diego-vive/7577"
    } else {
      buttonComprarEventoDiego.href = "#"
    }
  })
</script>