<section
  class="relative bg-white bg-cover bg-center bg-no-repeat"
  style="background-image: url(/fondo-EVENTO-PARA-DISFRUTAR-EN-FLIA.png)"
>
  <main
    class="bg-cover bg-center bg-no-repeat relative md:h-[500px]"
    style="background-image: url(salpicado.png)"
  >
    <img
      src="/neon.png"
      alt=""
      class="md:w-[900px] absolute mx-auto left-0 right-0 bottom-0 md:block hidden"
    />
    <div class="pt-12 flex md:flex-row flex-col justify-center md:gap-0 gap-8">
      <div class="z-[50]">
        <h3
          class="uppercase text-white text-3xl md:text-[40px] w-[320px] mx-auto md:text-left text-center mb-12 md:ml-0 ml-8"
          style="font-family: Anton, sans-serif;text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7)"
        >
        UN EVENTO PER TUTTA LA FAMIGLIA. NON FATEVELO RACCONTARE.
        </h3>
        <a href="https://go2.it/evento/diego-vive/7577" class="bg-blue-500 xl:ml-0 md:ml-0 ml-20 p-3 rounded-md transition duration-200 hover:bg-opacity-90 font-bold text-black">ACQUISTARE BIGLIETTO</a>
      </div>
      <img
        src="/D10.png"
        alt="diego-recibiendo-pelota"
        class="md:w-[300px] w-[200px] md:-mt-16 z-[60] md:ml-0 ml-[100px] mask"
      />
    </div>
  </main>
</section>

<style>
  .mask {
    mask-image: linear-gradient(
      black 80%,
      transparent
    );
  }
</style>
