<footer class="bg-black items-center justify-center gap-12 p-12" style="background-image: linear-gradient(to bottom, black, darkblue);">
  <div class="flex md:justify-end justify-center text-white gap-12">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-meta"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
      ></path>
      <path
        d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
      ></path>
      <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
      <path d="M16.5 7.5l0 .01"></path>
    </svg>
  </div>
  <a href="#" class="cursor-pointer flex justify-center md:justify-start">
    <img src="/logo-diego-vive.png" alt="" class="w-[200px] inline" />
  </a>
  <p class="text-white font-[600] text-center">NOS ACOMPAÑAN:</p>
  <div class="flex md:flex-row flex-col items-center justify-center mt-3">
    <img src="/logo-10.png" alt="" class="w-[120px] object-cover" />
    <img src="/logo-11.png" alt="" class="w-[200px] ml-7 object-cover" />
    <img src="logo-afa.png" alt="" class="w-[120px] object-cover" />
  </div>
  <div class="text-white text-center">
    <p>© 2024 DIEGO VIVE. TODOS LOS DERECHOS RESERVADOS.</p>
    <a
      href="https://www.linkedin.com/in/ignacio-gomez-523b03258/"
      target="_blank"
      class="transition-all duration-200 cursor-pointer hover:text-orange-300"
    >
      Diseño y Programación: Ignacio Gómez Rodríguez
    </a>
  </div>
</footer>
