<section
  class="relative md:px-[200px] md:py-12 bg-bottom bg-cover bg-no-repeat pt-[120px]"
  id="horarios"
  style="background-image: url(/fondo-HORARIO.png);"
>
  <div
    class="md:h-[350px] h-full bg-cover bg-no-repeat bg-center w-full"
    style="background-image: url(/RECUADRO-HORARIO.png);"
  >
    <h3
      class="text-black md:text-[50px] font-[600] text-xl md:pt-12 p-3 md:ml-12 text-center md:text-start"
    >
      HORARIOS
    </h3>
    <div
      class="md:mt-8 md:ml-20 font-bold text-black md:text-2xl ml-3 flex items-center md:gap-[290px] uppercase"
    >
      <p style="font-family: Montserrat, sans-serif">Lunes o Jueves</p>
      <p style="font-family: Montserrat, sans-serif">11:00 - 21.00 HS</p>
    </div>
    <div
      class="md:mt-6 md:ml-20 font-bold text-black md:text-2xl flex items-center md:gap-[390px] uppercase"
    >
      <p style="font-family: Montserrat, sans-serif">Viernes</p>
      <p style="font-family: Montserrat, sans-serif">10:00 - 21.00 HS</p>
    </div>
    <div
      class="md:mt-4 md:ml-20 font-bold text-black md:text-2xl flex items-center md:gap-[210px] uppercase"
    >
      <p style="font-family: Montserrat, sans-serif">Sábados y Domingos</p>
      <p style="font-family: Montserrat, sans-serif">8:00 - 21.00 HS</p>
    </div>
  </div>
</section>
