<section
  class="relative md:px-[200px] md:py-12 bg-bottom bg-cover bg-no-repeat pt-[120px]"
  id="horarios"
  style="background-image: url(/fondo-HORARIO.png);"
>
  <div
    class="md:h-[350px] h-full bg-cover bg-no-repeat bg-center w-full"
    style="background-image: url(/horarios2.png);"
  >
    <h3
      class="text-black md:text-[50px] font-[600] text-xl md:pt-12 md:ml-12 text-center md:text-start"
    >
    ORARI
    </h3>
    <div
      class="md:mt-8 md:ml-20 font-bold text-black md:text-2xl ml-3 flex items-center gap-[60px] md:gap-[280px] uppercase"
    >
      <p style="font-family: Montserrat, sans-serif">Lunedì o <br> Giovedì</p>
      <p style="font-family: Montserrat, sans-serif">11:00 - 21.00 ore</p>
    </div>
    <div
      class="md:mt-6 md:ml-20 font-bold text-black md:text-2xl flex items-center gap-[60px] ml-3 md:gap-[290px] uppercase"
    >
      <p style="font-family: Montserrat, sans-serif">Venerdì</p>
      <p style="font-family: Montserrat, sans-serif">10:00 - 21.00 ore</p>
    </div>
    <div
      class="md:mt-4 md:ml-20 font-bold text-black md:text-2xl flex ml-3 items-center gap-9 md:gap-[265px] uppercase"
    >
      <p style="font-family: Montserrat, sans-serif">Sabato e <br> Domenica</p>
      <p style="font-family: Montserrat, sans-serif">10:00 - 21.00 ore</p>
    </div>
  </div>
</section>
