<section
  class="flex md:flex-row flex-col items-center justify-around bg-black md:p-12"
  id="informacion"
>
  <img src="/logo-diego-vive.png" alt="" class="md:w-[450px] w-[200px]" />
  <div class="w-full">
    <h4 class="md:text-[50px] text-white md:text-start text-center text-xl">
      INFORMACIÓN PRÁCTICA
    </h4>
    <article
      class="flex md:justify-start justify-center md:gap-24 gap-12 mt-8"
    >
      <div class="text-center text-white text-xl">
        <img
          src="/logo-8.png"
          alt=""
          class="md:w-[100px] w-[60px] mx-auto"
        />
        <p class="font-bold mt-3">TELÉFONO</p>
        <p>1 800-000-0000</p>
      </div>
      <div class="text-center text-xl text-white">
        <img
          src="/logo-9.png"
          alt=""
          class="md:w-[100px] w-[60px] mx-auto"
        />
        <p class="font-bold mt-3">DURACIÓN</p>
        <p>1 HORA</p>
      </div>
    </article>
    <div class="collapse mt-5">
      <input type="checkbox" />
      <div
        class="collapse-title text-xl md:text-3xl font-medium text-white border-b"
      >
        ¿Qué es Diego Vive?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-corner-right-down inline md:ml-5 ml-2 text-blue-300"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4"></path>
        </svg>
      </div>
      <div class="collapse-content bg-white pt-3">
        <p class="md:w-[700px] w-[350px] text-sm text-black">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui officiis
          numquam magnam, in maiores asperiores? Doloremque expedita consectetur
          repellendus repellat, vitae corporis, dolorem in et labore aspernatur
          minus ut nulla.
        </p>
      </div>
    </div>
    <div class="collapse w-full">
      <input type="checkbox" />
      <div
        class="collapse-title text-xl md:text-3xl font-medium text-white border-b"
      >
        ¿Cuanto tiempo dura la visita Diego Vive?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-corner-right-down inline md:ml-5 text-blue-300"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4"></path>
        </svg>
      </div>
      <div class="collapse-content bg-white pt-3">
        <p class="text-black md:w-[700px] text-sm w-[350px]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          sequi nemo inventore veritatis ut commodi est? Laudantium aliquam
          asperiores, et facilis non vel quis. Blanditiis repudiandae natus quis
          consequuntur. Consectetur?
        </p>
      </div>
    </div>
    <div class="collapse w-full">
      <input type="checkbox" />
      <div
        class="collapse-title text-xl md:ml-0 md:text-3xl font-medium text-white border-b"
      >
        ¿En dónde se ubica la exposición de Diego Vive?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-corner-right-down inline md:ml-5 text-blue-300"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4"></path>
        </svg>
      </div>
      <div class="collapse-content bg-white pt-3">
        <p class="text-black md:w-[700px] w-[350px]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
          sapiente dicta expedita? Numquam corrupti ex velit temporibus qui
          omnis, aut et sunt reprehenderit rem dignissimos similique reiciendis
          nihil repellendus odit.
        </p>
      </div>
    </div>
    <div class="collapse w-full">
      <input type="checkbox" />
      <div
        class="collapse-title text-xl md:text-3xl font-medium text-white border-b"
      >
        ¿Cuál es el costo de Diego Vive?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-corner-right-down inline md:ml-5 text-blue-300"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4"></path>
        </svg>
      </div>
      <div class="collapse-content bg-white pt-3">
        <p class="md:w-[700px] w-[350px] text-black">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium
          similique error quo tenetur perferendis nisi recusandae rerum enim
          labore saepe, commodi mollitia tempora ipsum ea ex necessitatibus
          voluptate vel quam.
        </p>
      </div>
    </div>
  </div>
</section>
