<section
  id="informacion"
  style="background-image: url(/fondo-INFORMACION.png);"
  class="bg-cover bg-top bg-no-repeat"
>
  <main class="flex md:flex-row flex-col items-center justify-around md:p-12 bg-cover bg-center bg-no-repeat" style="background-image: url(/fondo-INFORMACION-salpicado-azul.png);">
    <img
      src="/logo-DIEGO-VIVE-degrade-verde.png"
      alt=""
      class="md:w-[450px]"
    />
    <div class="w-full">
      <h4 class="md:text-[50px] text-blue-800 md:text-start text-center text-4xl" style="font-family: Anton, sans-serif;">
        INFORMACIÓN PRÁCTICA
      </h4>
      <div class="collapse mt-12">
        <input type="checkbox" />
        <div
          class="collapse-title text-xl font-bold text-white bg-blue-800"
        >
          <p style="font-family: Montserrat, sans-serif">¿Qué es Diego Vive?</p>
        </div>
        <div class="collapse-content bg-white pt-3">
          <p class="text-xl text-black">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui
            officiis numquam magnam, in maiores asperiores? Doloremque expedita
            consectetur repellendus repellat, vitae corporis, dolorem in et
            labore aspernatur minus ut nulla.
          </p>
        </div>
      </div>
      <div class="collapse w-full">
        <input type="checkbox" />
        <div
          class="collapse-title text-xl font-bold text-white bg-blue-800"
        >
          ¿Cuanto tiempo dura la visita Diego Vive?
        </div>
        <div class="collapse-content bg-white pt-3">
          <p class="text-black text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            sequi nemo inventore veritatis ut commodi est? Laudantium aliquam
            asperiores, et facilis non vel quis. Blanditiis repudiandae natus
            quis consequuntur. Consectetur?
          </p>
        </div>
      </div>
      <div class="collapse w-full">
        <input type="checkbox" />
        <div
          class="collapse-title text-xl font-bold text-white bg-blue-800"
        >
          ¿En dónde se ubica la exposición de Diego Vive?
        </div>
        <div class="collapse-content bg-white pt-3">
          <p class="text-black text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
            sapiente dicta expedita? Numquam corrupti ex velit temporibus qui
            omnis, aut et sunt reprehenderit rem dignissimos similique
            reiciendis nihil repellendus odit.
          </p>
        </div>
      </div>
      <div class="collapse w-full">
        <input type="checkbox" />
        <div
          class="collapse-title text-xl font-bold text-white bg-blue-800"
        >
          ¿Cuál es el costo de Diego Vive?
        </div>
        <div class="collapse-content bg-white pt-3">
          <p class="text-xl text-black">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Praesentium similique error quo tenetur perferendis nisi recusandae
            rerum enim labore saepe, commodi mollitia tempora ipsum ea ex
            necessitatibus voluptate vel quam.
          </p>
        </div>
      </div>
    </div>
  </main>
</section>
