<section
  id="informacion"
  style="background-image: url(/fondo-INFORMACION.png);"
  class="bg-cover bg-top bg-no-repeat"
>
  <main
    class="flex md:flex-row flex-col items-center justify-around md:p-12 bg-cover bg-center bg-no-repeat"
    style="background-image: url(/fondo-INFORMACION-salpicado-azul.png);"
  >
    <img src="/logo-DIEGO-VIVE-degrade-verde.png" alt="" class="md:w-[450px]" />
    <div class="w-full">
      <h4
        class="md:text-[50px] text-blue-800 md:text-start text-center text-4xl"
        style="font-family: Anton, sans-serif;"
      >
        INFORMAZIONI PRATICHE
      </h4>
      <div class="collapse mt-12">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-bold text-white bg-blue-800">
          <p style="font-family: Montserrat, sans-serif">Cos'è Diego Vive?</p>
        </div>
        <div class="collapse-content bg-white pt-3">
          <p class="text-xl text-black">
            DIEGO VIVE Il primo PARCO A TEMA al mondo pensato e realizzato come
            omaggio a DIEGO ARMANDO MARADONA, personaggio sportivo tanto grande
            per fama e carisma da divenire, negli anni, idolo immortale per
            milioni di appassionati.
          </p>
        </div>
      </div>
      <div class="collapse w-full">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-bold text-white bg-blue-800">
          Quanto tempo dura la visita a Diego Vive?
        </div>
        <div class="collapse-content bg-white pt-3">
          <p class="text-black text-xl">
            La visita al parco ha una durata di circa 50 minuti
          </p>
        </div>
      </div>
      <div class="collapse w-full">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-bold text-white bg-blue-800">
          Dove si trova l'esposizione di Diego Vive?
        </div>
        <div class="collapse-content bg-white pt-3 text-black">
          <p class="text-xl">
            <p>
              Il Parco Tematico si trova all’interno dell’Ex Base Nato - Parco
              San Laise, sita in Viale della Liberazione 115 - 80125 Napoli
            </p>
            <p>COME RAGGIUNGERE L’EX BASE PARCO SAN LAISE</p>
            <ul>
              <li>Fermata Bagnoli - Agnano Terme Bus:C1 -EAV</li>
              <li>Treno : L9 - R</li>
              <li>Metro : L2</li>
            </ul>
            <p>
              IN AUTO: <br /> Uscita: Casello Agnano oppure Casello Fuorigrotta della
              Tangenziale di Napoli A56 PARCHEGGIO <br /> L’ex base nato è dotata
              di ampie zone parcheggio a pagamento AREA FOOD - DRINK
              <br />All’esterno della mostra sono previsti punti ristoro con
              Food & Beverage italiani ed argentini <br /> SERVIZI IGIENICI <br
              /> All’esterno della mostra sono presente servizi igienici anche per
              diversamente abili. CORNER SHOP <br /> Il negozio di DIEGO VIVE propone
              un vario ed ampio assortimento di prodotti, che spaziano dalle magliette
              ai gadget ufficiali della mostra, ad articoli vari, con una sezione
              speciale dedicata alla nazionale argentina.
            </p>
          </p>
        </div>
      </div>
      <div class="collapse w-full">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-bold text-white bg-blue-800">
          Qual è il costo di Diego Vive?
        </div>
        <div class="collapse-content bg-white pt-3">
          <p class="text-xl text-black">
            ADULTO € 20 + 3 PV BAMBINO AL DI SOTTO DEI 12 ANNI € 15 + 3 PV
            Biglietti acquistabili su
            <a href="https://www.ticketone.it/event/diego-vive-exbase-18557252/" class="text-blue-500">https://www.ticketone.it/event/diego-vive-exbase-18557252/</a> e presso
            tutti punti vendita abilitati go2
          </p>
        </div>
      </div>
    </div>
  </main>
</section>
