---
import Menu from "../icons/Menu.astro";
import Ticket from "../icons/Ticket.astro";
import Close from "../icons/Close.astro";
---

<header
  class="bg-black z-[500] w-full transition-all duration-300 text-white fixed"
  id="menu"
>
  <nav
    class="flex xl:justify-center items-center transition-all duration-200 px-3 xl:gap-[150px] justify-between"
    id="navbar"
  >
    <a href="/">
      <img src="/logo-DIEGO-VIVE-fondo-degrade.png" alt="" class="w-[150px]" />
    </a>
    <div class="xl:flex items-center gap-10 text-[13px] hidden">
      <a
        href="#home"
        class="text-[#00ff18] transition-all duration-200 hover:text-orange-300 hvr-underline-from-center"
      >
        HOME
      </a>
      <a
        href="#about"
        class="text-[#3289ff] transition-all duration-200 hover:text-orange-300 hvr-underline-from-center"
      >
        SU DI NOI
      </a>
      <a
        href="#horarios"
        class="text-[#3289ff] transition-all duration-200 hover:text-orange-300 hvr-underline-from-center"
      >
        ORARI
      </a>
      <a
        href="#precios"
        class="text-[#3289ff] transition-all duration-200 hover:text-orange-300 hvr-underline-from-center"
      >
        PREZZI
      </a>
      <a
        href="#informacion"
        class="text-[#3289ff] transition-all duration-200 hover:text-orange-300 hvr-underline-from-center"
      >
        INFORMAZIONI
      </a>
      <a
        href="#contacto"
        class="text-[#3289ff] transition-all duration-200 hover:text-orange-300 hvr-underline-from-center"
      >
        CONTATTI
      </a>
      <a
        href="https://go2.it/evento/diego-vive/7577"
        class="bg-green-400 p-3 ml-12 rounded-md transition duration-200 hover:bg-opacity-90 font-bold text-black"
        >ACQUISTARE BIGLIETTO</a
      >
    </div>

    {/* Mobile */}
    <div class="xl:hidden flex items-center">
      <div id="button-menu" class="transition-all duration-200 opacity-0">
        <Menu />
      </div>
      <div
        class="rounded-md text-center py-1 transition-all md:w-full duration-300 bg-[#c8a557] hover:bg-white hover:text-black ml-5"
      >
        <a
          href="https://go2.it/evento/diego-vive/7577"
          class="text-left text-[12px] text-black p-1 block"
          id="item-comprar-mobile-entrada"
        >
          <Ticket />
          <p id="item-comprar-mobile">Acquistare</p>
        </a>
      </div>
    </div>
  </nav>
  <aside
    class="h-screen transition-all duration-300 fixed right-0 top-0 translate-x-[500px] xl:hidden bg-black block w-[60%] z-30 p-3"
    id="menu-mobile"
  >
    <div id="button-close">
      <Close />
    </div>
    <div class="flex flex-col items-center gap-10 text-[13px] text-white mt-20">
      <a href="#home" class="item-menu-mobile text-[#4abaee]"> HOME </a>
      <a href="#about" class="item-menu-mobile"> SU DI NOI </a>
      <a href="#horarios" class="item-menu-mobile"> ORARI </a>
      <a href="#precios" class="item-menu-mobile"> PREZZI </a>
      <a href="#informacion" class="item-menu-mobile"> INFORMAZIONI </a>
      <a href="#contacto" class="item-menu-mobile"> CONTATTI </a>
    </div>
  </aside>
</header>

<style>
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #4abaee;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before,
  .hvr-underline-from-center:focus:before,
  .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  .item-menu-mobile {
    transition: all 0.2s;
  }

  .item-menu-mobile:hover {
    color: #4abaee;
  }
</style>

<script>
  const menuMobile = document.getElementById("menu-mobile");
  const buttonMenu = document.getElementById("button-menu");
  const buttonMenuClose = document.getElementById("button-close");
  const itemsMenuMobile = document.querySelectorAll(".item-menu-mobile");

  // Menu mobile. Abrir
  buttonMenu.addEventListener("click", () => {
    menuMobile.classList.remove("translate-x-[500px]");
    document.body.classList.add("overflow-hidden");
  });

  // Menu mobile. Cerrar
  buttonMenuClose.addEventListener("click", () => {
    menuMobile.classList.add("translate-x-[500px]");
    document.body.classList.remove("overflow-hidden");
  });

  // Links del Menu mobile
  itemsMenuMobile.forEach((i) => {
    i.addEventListener("click", () => {
      menuMobile.classList.add("translate-x-[500px]");
      document.body.classList.remove("overflow-hidden");
    });
  });

  // Animacion con el scroll
  window.addEventListener("scroll", () => {
    const scrollPosition = window.scrollY || document.documentElement.scrollTop;
    const scrollThreshold = 100;

    if (scrollPosition > scrollThreshold) {
      buttonMenu.classList.remove("opacity-0");
    } else {
      buttonMenu.classList.add("opacity-0");
    }
  });
</script>
