---
import Check from "../icons/Check.astro"
---

<section
  style="background-image: url(/fondo-PRECIOS.png);"
  class="object-cover bg-no-repeat bg-center bg-cover xl:py-[170px] py-12 xl:px-5 relative bg-black bg-opacity-90"
  id="precios"
>
  <img
    src="/fondo-PRECIOS-Diego-mayor.png"
    alt=""
    class="absolute w-[500px] top-12 left-0 xl:block hidden"
  />
  <img
    src="/fondo-PRECIOS-Diego-copa.png"
    alt=""
    class="absolute w-[500px] top-12 right-0 xl:block hidden"
  />
  <main
    style="background-image: url(/Fondo-PRECIOS-formas-moare.png);"
    class="bg-cover bg-center bg-no-repeat relative xl:px-[200px]"
  >
    <img
      src="/cuadro-PRECIOS-logo-Diego-Vive-con-punteado-bco.png"
      alt=""
      class="xl:w-[200px] mx-auto"
    />
    <div
      class="flex xl:flex-row flex-col justify-center text-center opacity-80"
    >
      <div
        class="text-left bg-black p-8 xl:rounded-bl-3xl xl:rounded-tl-3xl mt-5 border border-white"
      >
        <p class="text-blue-500 text-xl font-[500]">Precio</p>
        <p class="text-yellow-50 font-[300] mt-5">ADULTO</p>
        <p class="font-bold text-white text-[35px] mt-5">$20+3</p>
        <ul class="mt-5">
          <li class="text-white">
            <Check />
            Compreso nel ticket d’ingresso
          </li>
          <li class="text-white mt-4">
            <Check />
            Accesso a tutte le sale del parco
          </li>
          <li class="text-white mt-4">
            <Check />
            E si potrà assistere allo show immersivo
          </li>
        </ul>
        <a
          href="https://go2.it/evento/diego-vive/7577" class="text-white block text-center shadow font-[600] border border-blue-400 w-full p-2 mt-12 transition-all duration-300 hover:bg-blue-500"
          >ACQUISTARE BIGLIETTO</a>
      </div>
      <div
        class="text-left bg-black p-8 xl:rounded-tr-3xl xl:rounded-br-3xl xl:mt-5 border border-white"
      >
        <p class="text-blue-600 text-xl font-[500]">Precio</p>
        <p class="text-yellow-50 font-[300] mt-5">BAMBINO FINO A 12 ANNI</p>
        <p class="font-bold text-white text-[35px] mt-5">$15+3</p>
        <ul class="mt-5">
          <li class="text-white">
            <Check />
            Compreso nel ticket d’ingresso
          </li>
          <li class="text-white mt-4">
           <Check />
            Accesso a tutte le sale del parco
          </li>
          <li class="text-white mt-4">
            <Check />
            E si potrà assistere allo show immersivo
          </li>
        </ul>
        <a
         href="https://go2.it/evento/diego-vive/7577" class="text-white block text-center shadow font-[600] border border-blue-400 w-full p-2 mt-12 transition-all duration-300 hover:bg-blue-500"
          >ACQUISTARE BIGLIETTO</a
        >
      </div>
    </div>
  </main>
</section>
