---
import Actividades from "./Actividades.astro";
---

<main style="background-image: url(/fondo-ACTIVIDADES.png);" class="bg-cover bg-no-repeat bg-center pb-5">
  <section class="md:h-[700px] relative md:p-0" id="home" >
    <section
      class="flex md:flex-row flex-col justify-center gap-3 -top-8 md:absolute left-0 right-0"
    >
      <div
        class="flex flex-col bg-cover bg-center md:gap-8 md:w-[35%] w-full md:p-3 p-12 md:-mt-[53px] rounded-xl"
        style="background-image: url(/cuadro-movimiento-dorso.png);"
      >
        <img src="/firma-diego.png" alt="" class="md:w-[200px] w-[100px] md:ml-20 md:mt-12" />
        <h1 style="font-family: Anton, sans-serif;" class="md:text-3xl text-2xl md:w-[400px] w-[300px] mx-auto md:ml-12 text-left md:text-center text-white">IL PRIMO PARCO TEMATICO TECNOLOGICO DEDICATO AL PIÙ GRANDE DELLA STORIA</h1>
        <p style="font-family: Montserrat, sans-serif" class="text-white text-left font-bold md:text-[17px] mx-auto text-sm uppercase">Diego vive è il primo parco tematico al mondo realizzato in omaggio a un atleta. È un'esperienza unica in cui i sogni diventano realtà.</p>
        <img src="/iconos-del-evento.png" alt="" class="mx-auto">
      </div>
      <article class="flex flex-col justify-center">
        <div
          style="background-image: url(/recuadro-fondo-lugar-fecha.png)"
          class="rounded-lg flex md:flex-row md:p-3 py-5 md:px-24 flex-col bg-center"
        >
          <div
            class="flex md:border-r-[5px] border-b-[3px] mx-auto md:mx-0 pb-4 md:pb-0 md:border-b-0 border-black md:pr-7"
          >
            <img src="/icon-lugar.png" alt="" class="w-[60px]" />
            <div class="md:ml-3">
              <p class="text-black md:text-2xl text-xl font-[600]">NAPOLES, ITALIA</p>
              <p
                class="text-black md:text-xl text-[18px] font-[600] ml-0.5 text-center"
              >
              LOCALITÀ
              </p>
            </div>
          </div>
          <div class="flex items-center gap-3 text-black md:ml-12 mx-auto md:mt-0 mb-5 md:mb-0 pt-3 md:pt-0">
            <img src="/icon-fecha.png" alt="" class="w-[60px]" />
            <p class="text-xl font-[600]" id="fecha">15 - 5 MAGGIO 2024</p>
          </div>
        </div>
        <div
          class="flex flex-col rounded-3xl bg-center bg-cover w-full py-20"
          style="background-image: url(/entrada-precio-normal-collage.png)"
        >
          <div
            id="container-entradas"
            class="text-center w-full rounded-xl mt-[260px]"
          >
            <div>
              <p
                class="font-bold text-2xl text-black"
                style="font-family: Anton, sans-serif;"
              >
              BIGLIETTI A PREZZO NORMALE
              </p>
              <p class="text-gray-500 text-sm">
                Tutte le categorie di biglietti
              </p>
              <div
                style="background-image: url(/boton-magenta-comprar-entrada.png)"
                class="bg-center bg-contain p-12 bg-no-repeat"
              >
                <a
                  href="#"
                  class="rounded-3xl text-white w-full block font-[600]"
                  id="comprar-entrada-diego"
                  style="font-family: Montserrat, sans-serif"
                >
                ACQUISTARE BIGLIETTO
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </section>
  <Actividades />
</main>

<style>
  /* LOADER */
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
    12.5% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 0%,
        100% 0%,
        100% 0%
      );
    }
    25% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        100% 100%,
        100% 100%
      );
    }
    50% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
    62.5% {
      clip-path: polygon(
        50% 50%,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
    75% {
      clip-path: polygon(
        50% 50%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
    100% {
      clip-path: polygon(
        50% 50%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        0% 100%
      );
    }
  }
  @keyframes l20-2 {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }
  /*  */
</style>

<script>
  const containerEntradas = document.getElementById("container-entradas");
  const fecha = document.getElementById("fecha");
  const select = document.getElementById("paises") as HTMLSelectElement;
  if (select.value === "NAPOLES, ITALIA") {
    fecha.textContent = "15 - 5 MAGGIO 2024";
  } else {
    fecha.textContent = "PRÓXIMAMENTE";
  }
  select.addEventListener("change", () => {
    if (select.value === "NAPOLES, ITALIA") {
      fecha.textContent = "15 - 5 MAGGIO 2024";
    } else {
      fecha.textContent = "PRÓXIMAMENTE";
    }
    containerEntradas.innerHTML = "";
    containerEntradas.classList.add("loader", "mt-[200px]", "mb-[220px]");
    setTimeout(() => {
      containerEntradas.classList.remove("loader", "mt-[200px]", "mb-[220px]");
      containerEntradas.classList.add("text-center", "w-full", "rounded-xl");
      containerEntradas.innerHTML += `
                  <img
                    src="https://www.lavanguardia.com/files/image_449_220/uploads/2020/11/25/5fc6448adae98.jpeg"
                    alt="Maradona"
                    class="object-cover h-[300px] w-full rounded-t-xl"
                  />
                  <div class="p-7">
                    <p class="font-bold text-2xl text-black">
                      Entradas a precio normal
                    </p>
                    <p class="text-gray-500 text-sm mt-5">
                      Todas las categorías de entradas
                    </p>
                    <div class="mt-8">
                      ${
                        select.value === "NAPOLES, ITALIA"
                          ? `<a href="https://go2.it/evento/diego-vive/7577" class="hvr-float-shadow transition-all duration-300 bg-blue-400 px-12 rounded-3xl p-3 text-white mt-5 hover:opacity-70" id="comprar-entrada-diego">
                      Comprar entradas
                    </a>`
                          : `<a href="#" class="hvr-float-shadow transition-all duration-300 bg-blue-400 px-12 rounded-3xl p-3 text-white mt-5 hover:opacity-70" id="comprar-entrada-diego">
                      Comprar entradas
                    </a>`
                      }
                    </div>
                  </div>
      `;
    }, 500);
  });
</script>
