---
import Navbar from "./Navbar.astro";
---

<main class="min-h-[100vh] relative">
  <Navbar />
  <div class="absolute md:left-[150px] left-[15px] bottom-[100px] z-10">
    <p class="text-orange-300 text-2xl font-bold">DIEGO VIVE</p>
    <h1 class="text-4xl text-white mt-5 font-bold">Bienvenido a DIEGO VIVE</h1>
    <h2 class="md:text-3xl text-[18px] text-white mt-5 font-bold">
      Disfrutaras {" "}
      <span class="text-blue-300 element"></span>
    </h2>
  </div>
  <video
    src="/diego-video.mp4"
    muted
    autoplay
    loop
    class="absolute top-0 left-0 w-full h-full object-cover"></video>
  <div
    class="absolute top-0 left-0 w-full h-full bg-[#1c1c1d] opacity-5 mix-blend-overlay"
  >
  </div>
</main>

<script>
  import Typed from "typed.js";
  new Typed(".element", {
    strings: ["Épico.", "Único.", "Legendario.", "Conmovedor"],
    typeSpeed: 50,
    loop: true,
  });
</script>
