---
import Navbar from "./Navbar.astro";
---

<main class="min-h-[100vh] relative">
  <Navbar />
  <div class="absolute left-0 right-0 top-[150px] mx-auto z-10">
    <div class="flex flex-col justify-center items-center">
    <img src="/logo-DIEGO-VIVE-fondo-degrade.png" alt="" class="w-[350px] h-[350px]">
    <h1 class="md:text-4xl text-xl text-[#00ff18] text-center font-[800] uppercase" style="font-family: Anton, sans-serif;">
      Primer parque tematico en homenaje al 10
    </h1>
    <h2 class="md:text-2xl text-[16px] text-center text-white font-bold" style="text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); font-family: Montserrat, sans-serif">
      Disfrutarás de{" "}
      <span class="element"></span>
    </h2>
    </div>
  </div>
  <video
    src="/diego-video.mp4"
    muted
    autoplay
    loop
    class="absolute top-0 left-0 w-full h-full object-cover"></video>
  <div
    class="absolute top-0 left-0 w-full h-full bg-[#1c1c1d] opacity-5 mix-blend-overlay"
  >
  </div>
</main>

<script>
  import Typed from "typed.js";
  new Typed(".element", {
    strings: [
      "ser Maradona por un día",
      "historias inéditas de Maradona",
      "interactuar con Diego Maradona",
    ],
    typeSpeed: 50,
    loop: true,
  });
</script>
